[submodule "libs/cpluslogger"]
	path = libs/cpluslogger
	url = https://github.com/skletz/cpluslogger.git
[submodule "libs/cplusutil"]
	path = libs/cplusutil
	url = https://github.com/skletz/cplusutil.git
