[submodule "libs/cpluslogger"]
	path = libs/cpluslogger
	url = https://github.com/skletz/cpluslogger.git
	branch = master
[submodule "libs/cplusutil"]
	path = libs/cplusutil
	url = https://github.com/skletz/cplusutil.git
	branch = master
[submodule "libs/opencv-histlib"]
	path = libs/opencv-histlib
	url = https://github.com/filitchp/opencv-histlib.git
